﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - A4 VNEXPRESS</title>
</head>
<body>
    <div class="top-bar">
        <div class="main-bar">
            <div class="contact-left">
                <a>Hotline : (0909) 84764646 (HCM) </a>
                <button class="Like-button">Like</button>
                <button class="Facebook-button">FaceBook</button>
                <button class="Youtube-button">Youtube</button>
            </div>
            <div class="login-right">
                <button>Đăng ký</button>
                <button>Đăng nhập</button>
                <input placeholder="Tìm kiếm" />
            </div>
        </div>

        <div class="king">
            <div class="imageOne">
                <img src="\Image\Logo_Vnexpress.png" alt="Image">
            </div>

            <div class="imageTwo">
                <img src="\Image\banner-ads-1.png" alt="Image">
            </div>

            <div class="imageThree">
                <img src="\Image\banner-ads-2.png" alt="Image">
            </div>

        </div>
    </div>

    <div class="queen">
        <ul class="menu">
            <li>thời sự</li>
            <li>thời sự</li>
            <li>thời sự</li>
            <li>thời sự</li>
            <li>thời sự</li>
            <li>thời sự</li>
            <li>thời sự</li>
            <li>thời sự</li>
            <li>thời sự</li>
            <li>thời sự</li>
            <li>thời sự</li>
        </ul>
        @RenderBody()
    </div>

</body>
</html>
